<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.igor.instragado.app">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/instagramlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/instagramlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.igor.instragado.app.activity.ComentariosActivity"></activity>
        <activity android:name="com.igor.instragado.app.activity.VisualizarPostagemActivity" />
        <activity android:name="com.igor.instragado.app.activity.FiltroActivity" />
        <activity android:name="com.igor.instragado.app.activity.PerfilAmigoActivity" />
        <activity
            android:name="com.igor.instragado.app.activity.EditarPerfilActivity"
            android:parentActivityName="com.igor.instragado.app.activity.EditarPerfilActivity" />
        <activity android:name="com.igor.instragado.app.activity.CadastroActivity" />
        <activity android:name="com.igor.instragado.app.activity.MainActivity" />
        <activity
            android:name="com.igor.instragado.app.activity.LoginActivity"
            android:theme="@style/AppLoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>